<agm-map [latitude]="lat" [longitude]="lng" [minZoom]="11">
  <agm-marker *ngFor="let place of places" [latitude]="place.lat" [longitude]="place.lng"></agm-marker>
</agm-map>

<div fxLayout="row">
  <div fxFlex="60" fxFlexOffset="5">
    <mat-list role="list">
      <h2>Near Places</h2>
      <span class="spacer"></span>
      <a mat-raised-button color="primary" routerLink="/create/new">Add Place</a>
      <ng-container *ngFor="let place of places">
        <a class="anchor" routerLink="/create/{{place.id}}">
        <mat-list-item role="listitem">
          <h3 mat-line>{{place.name}}</h3>
          <p mat-line>Created: {{place.id | date: 'medium' | uppercase}}</p>
          <mat-divider></mat-divider>
        </mat-list-item>
        </a>
      </ng-container>
    </mat-list>
  </div>
  <div fxFlexOffset="5">
    <h2>Highlights</h2>
  </div>
</div>
