<!--The content below is only a placeholder and can be replaced.-->
<agm-map [latitude]="lat" [longitude]="lng" [minZoom]="14">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

<ul>
  <ng-container *ngFor="let place of places">
    <li *ngIf="place.active">{{place.name}}</li>
  </ng-container>
</ul>

<ul>
  <ng-container *ngFor="let place of places; let i = index" [ngSwitch]="place.nearness">
    <li appCountclicks [ngStyle]="{color: (place.active ? 'black' : 'gray')}"
        [ngClass]="{odd: (i+1) % 2 != 0}"
        [appHighlight]="place.plan">
      {{place.name}} -
      <span *ngSwitchCase="1" [ngStyle]="{color: 'green'}">Very close</span>
      <span *ngSwitchCase="2" [ngStyle]="{color: 'black'}">Near</span>
      <span *ngSwitchCase="3" [ngStyle]="{color: 'red'}">Far away</span>
    </li>
  </ng-container>
</ul>


