<!--The content below is only a placeholder and can be replaced.-->
<agm-map [latitude]="lat" [longitude]="lng" [minZoom]="14">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

<ul>
  <ng-container *ngFor="let place of places">
    <li *ngIf="place.active">{{place.name}}</li>
  </ng-container>
</ul>

<ul>
  <ng-container *ngFor="let place of places; let i = index">
    <li [ngStyle]="{color: (place.active ? 'black' : 'gray')}"
        [ngClass]="{odd: (i+1) % 2 != 0}">{{place.name}}
    </li>
  </ng-container>
</ul>


