<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>NineSquare</span>
  </mat-toolbar-row>
</mat-toolbar>

<agm-map [latitude]="lat" [longitude]="lng" [minZoom]="14">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

<div fxLayout="row">
  <div fxFlex="60" fxFlexOffset="5">
    <mat-list role="list">
      <h2>Near Places</h2>
      <ng-container *ngFor="let place of places">
        <mat-list-item role="listitem" *ngIf="place.active">
          {{place.name}}
          <mat-divider></mat-divider>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </div>
  <div fxFlexOffset="5">
    <h2>Highlights</h2>
  </div>
</div>




